aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiofiles
aiohappyeyeballs
aiohttp
aiosignal
aiosqlite
alphashape
annotated-doc
annotated-types
anyio
attrs
bcrypt
beautifulsoup4
blis
brotli
build
catalogue
certifi
cffi
chardet
charset-normalizer
chromadb
click
click-log
cloudpathlib
confection
Crawl4AI
cryptography
cssselect
cuda-bindings
cuda-pathfinder
cuda-toolkit
cymem
distro
durationpy
emoji
en_core_web_sm
fake-useragent
fastapi
fastuuid
filelock
filetype
flatbuffers
frozenlist
fsspec
googleapis-common-protos
greenlet
groq
grpcio
h11
h2
hf-xet
hpack
html5lib
httpcore
httptools
httpx
httpx-sse
huggingface_hub
humanize
hyperframe
idna
importlib_metadata
importlib_resources
installer
Jinja2
jiter
joblib
jsonpatch
jsonpointer
jsonschema
jsonschema-specifications
kubernetes
langchain
langchain-chroma
langchain-classic
langchain-community
langchain-core
langchain-groq
langchain-huggingface
langchain-protocol
langchain-text-splitters
langdetect
langgraph
langgraph-checkpoint
langgraph-prebuilt
langgraph-sdk
langsmith
lark
llvmlite
lxml
Markdown
markdown-it-py
MarkupSafe
mdurl
mmh3
mpmath
multidict
murmurhash
narwhals
networkx
nltk
numba
numpy
nvidia-cublas
nvidia-cuda-cupti
nvidia-cuda-nvrtc
nvidia-cuda-runtime
nvidia-cudnn-cu13
nvidia-cufft
nvidia-cufile
nvidia-curand
nvidia-cusolver
nvidia-cusparse
nvidia-cusparselt-cu13
nvidia-nccl-cu13
nvidia-nvjitlink
nvidia-nvshmem-cu13
nvidia-nvtx
oauthlib
olefile
onnxruntime
openai
opentelemetry-api
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
orjson
ormsgpack
overrides
packaging
patchright
pillow
playwright
playwright-stealth
preshed
propcache
protobuf
psutil
pybase64
pycparser
pydantic
pydantic-settings
pydantic_core
pyee
Pygments
pyOpenSSL
pypdf
pypdfium2
PyPika
pyproject_hooks
python-dateutil
python-dotenv
python-iso639
python-magic
python-oxmsg
PyYAML
rank-bm25
RapidFuzz
referencing
regex
requests
requests-oauthlib
requests-toolbelt
rich
rpds-py
rtree
safetensors
scikit-learn
scipy
sentence-transformers
setuptools
shapely
shellingham
six
smart_open
sniffio
snowballstemmer
soupsieve
spacy
spacy-legacy
spacy-loggers
SQLAlchemy
srsly
starlette
sympy
tenacity
thinc
threadpoolctl
tiktoken
tokenizers
torch
tqdm
transformers
trimesh
triton
typer
typing-inspection
typing_extensions
unclecode-litellm
unstructured
unstructured-client
urllib3
uuid_utils
uvicorn
uvloop
wasabi
watchfiles
weasel
webencodings
websocket-client
websockets
wrapt
xxhash
yarl
zipp
zstandard
